@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

a {
  text-decoration:none;
  color:black;
  font-family: 'Spectral', serif;
  font-size:11pt;
}

a:hover {
  /* text-decoration:underline; */
  background-color:#ffe866;
}

.projectbox {
  display:flex;
  flex-direction:row;
  position:absolute;
  /* border:1px solid black; */
  height:25px;
  width:80%;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  justify-content: space-between;
}

.project {
  /* border:1px solid blue; */
}

img {
  position:relative;
  height:11.1px;
  top:2px;
}
