@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800,900&display=swap');

body {
  font-family:Prompt;
  font-size:90px;
  line-height:120px;
  text-align:center;

  background-color:#00B440;

  min-height: 96.5vh;
  min-width: 98.8vw;

  display:flex;
  align-items:center;
  justify-content:center;
  cursor:default;

  position:fixed;
}

section {
  width:1400px;

  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows:95px;

  color:white;
  /* text-shadow: 1px 1px 2px #006823; */
}

div {
  font-weight:100;
  /* transform:scale(.2); */
  transition: transform .3s;
}

.back {
  position:absolute;
  height:25px;
  width:25px;
  top:10px;
  left:10px;
  color:black;
  border:1px solid black;
  text-align: center;
  text-decoration:none;
  opacity:.1;
  transition:.2s;
  font-size:12pt;
  line-height:18pt;
  z-index:1;
}

.back:hover {
  opacity:1;
}
