#divA,
#divA2,
#divA3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:52px;
  width:52px;
  top:5.1%;
  left:10.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divB,
#divB2,
#divB3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:25px;
  width:53px;
  top:16.6%;
  left:15.2%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divC,
#divC2,
#divC3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:45px;
  width:45px;
  top:17.9%;
  left:21.4%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divD,
#divD2,
#divD3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:55px;
  width:78px;
  top:15.1%;
  left:8.9%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divE,
#divE2,
#divE3,
#divE4,
#divE5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:28px;
  width:27px;
  top:21.3%;
  left:13.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#snowflake {
  height: 23px;
}



#divF,
#divF2,
#divF3,
#divF4,
#divF5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:13px;
  width:13px;
  top:17%;
  left:19.7%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divG,
#divG2,
#divG3,
#divG4,
#divG5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:33px;
  width:33px;
  top:26.1%;
  left:13%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#star2 {
  height:15px;
}



#divH,
#divH2,
#divH3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:70px;
  width:75px;
  top:17.6%;
  left:3.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#sun2 {
  height:70px;
}



#divI,
#divI2,
#divI3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:60px;
  width:60px;
  top:21.6%;
  left:16.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#tornado {
  height:60px;
}



#divJ,
#divJ2,
#divJ3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:50px;
  width:60px;
  top:6.1%;
  left:15.2%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divK,
#divK2,
#divK3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:50px;
  width:50px;
  top:7.9%;
  left:5.9%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#planet {
  height:40px;
}



#divL,
#divL2,
#divL3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:32px;
  width:70px;
  top:25.6%;
  left:7.8%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#saturn {
  height:38px;
}



#divM,
#divM2,
#divM3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:25px;
  width:60px;
  top:11.6%;
  left:19.3%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divN,
#divN2,
#divN3,
#divN4,
#divN5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  top:13%;
  left:4%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#star3 {
  height:15px;
}



#divO,
#divO2,
#divO3,
#divO4,
#divO5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  top:11.6%;
  left:14%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divP,
#divP2,
#divP3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:20px;
  top:46.4%;
  left:11.9%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#butterfly {
  height:30px;
}



#divQ,
#divQ2,
#divQ3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:30px;
  top:46.6%;
  left:16.2%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divR,
#divR2,
#divR3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:30px;
  top:47.6%;
  left:8.8%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divS,
#divS2,
#divS3,
#divS4,
#divS5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:70px;
  width:75px;
  top:38.1%;
  left:17.2%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divT,
#divT2,
#divT3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:45px;
  top:53.6%;
  left:19%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divU,
#divU2,
#divU3,
#divU4,
#divU5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:80px;
  width:80px;
  top:39.1%;
  left:3.8%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#pinetree {
  height:90px;
}



#divV,
#divV2,
#divV3,
#divV4,
#divV5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:55px;
  width:47px;
  top:37.6%;
  left:8.8%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divW,
#divW2,
#divW3,
#divW4,
#divW5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:65px;
  width:80px;
  top:54.1%;
  left:9%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#tree2 {
  height:75px;
}


#divX,
#divX2,
#divX3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:60px;
  width:60px;
  top:54.1%;
  left:14.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#tulip {
  height:50px;
}



#divY,
#divY2,
#divY3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:40px;
  width:45px;
  top:41.1%;
  left:12.7%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#nest {
  height:30px;
}



#divZ,
#divZ2,
#divZ3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:28px;
  width:30px;
  top:50.1%;
  left:14%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#rose {
  height:20px;
}



#divAA,
#divAA2,
#divAA3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:55px;
  width:40px;
  top:52.1%;
  left:5.7%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#fairy {
  height:60px;
}



#divBB,
#divBB2,
#divBB3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:40px;
  top:37.4%;
  left:13.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#snail {
  height:25px;
}



#divCC,
#divCC2,
#divCC3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  top:50.4%;
  left:3.7%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#bug {
  height:30px;
}



#divDD,
#divDD2,
#divDD3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:40px;
  width:85px;
  top:47.6%;
  left:18.5%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divEE,
#divEE2,
#divEE3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:55px;
  width:78px;
  /* top:86.7%; */
  bottom:5.2%;
  left:9.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divFF,
#divFF2,
#divFF3,
#divFF4,
#divFF5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:75px;
  width:48px;
  /* top:76.2%; */
  bottom:13.5%;
  left:3.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divGG,
#divGG2,
#divGG3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:40px;
  width:55px;
  /* top:78.9%; */
  bottom:14.5%;
  left:7.9%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divHH,
#divHH2,
#divHH3,
#divHH4,
#divHH5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:33px;
  width:25px;
  /* top:86.2%; */
  bottom:8.5%;
  left:6.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divII,
#divII2,
#divII3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:42px;
  width:73px;
  /* top:74.5%; */
  bottom:19.1%;
  left:11.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divJJ,
#divJJ2,
#divJJ3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:75px;
  width:65px;
  /* top:74.7%; */
  bottom:14%;
  left:20.3%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#diver {
  height:85px;
}



#divKK,
#divKK2,
#divKK3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:28px;
  width:53px;
  /* top:87.2%; */
  bottom:9%;
  left:19.6%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}


#divLL,
#divLL2,
#divLL3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:63px;
  /* top:71.5%; */
  bottom:22.4%;
  left:6.5%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#starfish {
  height:30px;
}



#divMM,
#divMM2,
#divMM3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:70px;
  /* top:70.2%; */
  bottom:25.5%;
  left:14.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#dolphin {
  height:35px;
}



#divNN,
#divNN2,
#divNN3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:30px;
  width:40px;
  /* top:77.7%; */
  bottom:17.5%;
  left:16.8%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#lobster {
  height:28px;
}



#divOO,
#divOO2,
#divOO3,
#divOO4,
#divOO5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:15px;
  width:15px;
  /* top:70.5%; */
  bottom:26.8%;
  left:11.9%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}



#divPP,
#divPP2,
#divPP3,
#divPP4,
#divPP5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  /* top:90.2%; */
  bottom:6.8%;
  left:16.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#anemone {
  height:40px;
}




#divQQ,
#divQQ2,
#divQQ3,
#divQQ4,
#divQQ5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  /* top:84.2%; */
  bottom:13%;
  left:18.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#jellyfish {
  height:25px;
}



#divRR,
#divRR2,
#divRR3 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  /* top:83.3%; */
  bottom:13.3%;
  left:13.8%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#crab {
  height:18px;
}




#divSS,
#divSS2,
#divSS3,
#divSS4,
#divSS5 {
  position: absolute;
  /* background-color: blue; */
  text-align: center;
  height:20px;
  width:20px;
  /* top:73.2%; */
  bottom:23%;
  left:19.1%;
  cursor: move;
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#seagull {
  height:40px;
}



.oval1 {
  margin-top:35px;
  margin-left:35px;
  position:absolute;
  height:25vh;
  width:310px;
  top:0;
  /* border: 1px solid black; */
}

.oval2 {
  margin-left:35px;
  position:absolute;
  height:25vh;
  width:310px;
  top:50%;
  transform:translateY(-50%);
  /* border: 1px solid black; */
}

.oval3 {
  margin-bottom:35px;
  margin-left:35px;
  position:absolute;
  height:25vh;
  width:310px;
  bottom:0;
  /* border: 1px solid black; */
}

#divwhite {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:white;
}

#divtan {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color: #e4c49b;
}

#divbrown {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:hsl(25, 40%, 45%);
}

#divgreen {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color: #39ac39;
}

#divblack {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:black;
}

#divblue {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:lightskyblue;
}

#divteal {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:#62C6C2;
}

#divgray {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:#b3b3b3;
}

#divdarkblue {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:#000066;
}

#divgreen2 {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:darkolivegreen;
}

#divteal {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:#62C6C2;
}

#divyellow {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:#ffe033;
}

#divorange {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:#F89C3E;
}

#divpink {
  z-index:-1;
  position:absolute;
  height:90%;
  width:63%;
  right:0;
  margin-right:144px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:lightpink;
}

#buttonbox {
  position:absolute;
  height:90%;
  width:70px;
  right:35px;
  top:50%;
  transform:translateY(-50%);
  /* border:1px solid black; */
  background-color:white;
  display:flex;
  flex-direction:column;
  justify-content: space-between;

}


button {
  position:relative;
  width:70px;
  height:35px;
  text-decoration:none;
  outline:none;
}

.whiteb {
  /* background-color:white; */
  top:0px;
  border:1px solid black;
  border-radius:100%;
}

.blackb {
  /* background-color:black; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.blueb {
  /* background-color:lightskyblue; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.brownb {
  /* background-color:hsl(25, 40%, 45%); */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.tanb {
  /* background-color:#e4c49b; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.greenb {
  /* background-color:#39ac39; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.tealb {
  /* background-color:#62C6C2; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.grayb {
  /* background-color:#b3b3b3; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.darkblueb {
  /* background-color:#000066; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.green2b {
  /* background-color:darkolivegreen; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.yellowb {
  /* background-color:darkolivegreen; */
  border:none;
  border:1px solid black;
  border-radius:100%;
  margin-bottom:0;
}

.orangeb {
  /* background-color:darkolivegreen; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}

.pinkb {
  /* background-color:darkolivegreen; */
  border:none;
  border:1px solid black;
  border-radius:100%;
}
